@font-face {
  font-family: 'icons';
  src: url('/icons.ttf?dkh043') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-Arrow:before {
  content: "\e900";
  color: #fff;
}
._icon-Facebook:before {
  content: "\e901";
  color: #fff;
}
._icon-Instagram:before {
  content: "\e902";
  color: #fff;
}
._icon-Twitter:before {
  content: "\e903";
  color: #fff;
}
