/*

$minWidth: 320;
$maxWidth: 1600;
$maxWidthContainer: 1118;

*/

body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
} 

._container {
    max-width: 1118px;
    margin: 0 auto;
    @media (max-width: 1600px) {
        max-width: 1118px
    };
    @media (max-width: 800px) {
        max-width: 750px
    };
    @media (max-width: 500px) {
        max-width: 450px
    };
}
section {
    margin-bottom: 150px;
}

.header,
.main,
.footer {
    padding: 0 25px;
}

/******* HEADER *******/
.header_content {
    height: 170px;
    display: flex;
    align-items: center;
}
.header_logo {
    flex-grow: 1;
    max-width: 156px;
    min-width: 35px
}
.header_menu {
    flex-grow: 3;
}

.menu_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu_list li {
    margin-right: 40px;
}
.menu_link {
    text-decoration: none;
    font-size: 16px;
    color: #4B5D68;
    padding: 10px 0;
}
/******* HEADER END *******/

/******* MAIN *******/






/******* MAIN END *******/

/******* FOOTER *******/
.footer_content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 150px auto 72px auto;
}
.footer_content p {
    color: #212353;
    font-size: 16px;
    line-height: 180%;
}
.company .logo {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.company .name {
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: normal;
}

.company .address {
    font-weight: 500;
    margin-top: 64px;
    margin-bottom: 10px;
}

.company .details {
    font-weight: 400;
    letter-spacing: 0.01em;
}

.company .copyright {
    font-size: 12px;
    margin-top: 36px;
    font-weight: 300;
    letter-spacing: 0.01em;
}
.socials {
    padding: 0 45px;
}
.socials .links {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 30px;
}

.socials .links .link {
    width: 50px;
    height: 50px;
    background-color: #212353;
    opacity: .1;
    transition: opacity 1s 0s cubic-bezier(0.115, 0.810, 0.355, 1);
    border-radius: 50%;
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials .links .link:hover {
    opacity: 100;
    cursor: pointer;
}
